.footerContainer {
  background-color: var(--veryDarkBlue);
  color: white;
  padding-block: 50px;
}

.footer {
  max-width: 1350px;
  padding-inline: 30px;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
}

.logoAndSocials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobileCopyright {
  display: none;
}

.socials {
  display: flex;
  gap: 15px;
}

.socials svg {
  fill: white;
  transition: fill 0.2s;
}

.socials svg:hover {
  fill: var(--brightRed);
}

.links {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;
}

.footer li {
  list-style-type: none;
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

.footer a:hover {
  color: var(--brightRed);
}

.newsletterAndCopyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.newsletterAndCopyright form {
  display: flex;
  align-items: start;
  gap: 20px;
}

.newsletterAndCopyright input {
  border-radius: 30px;
  border: transparent;
  padding: 15px 35px;
}

.errorMessage,
.successMessage {
  padding-top: 5px;
  padding-left: 35px;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}

.errorMessage {
  color: red;
}

.successMessage {
  color: limegreen;
}

.desktopCopyright {
  text-align: end;
}

@media screen and (max-width: 990px) {
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .logoAndSocials {
    align-items: center;
  }
  .desktopCopyright {
    display: none;
  }
  .mobileCopyright {
    display: block;
  }
  .logoAndSocials {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .footer img {
    max-width: 163px;
  }
}

@media screen and (max-width: 470px) {
  .newsletterAndCopyright div:first-child {
    flex-direction: column;
  }
}
