*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* COLORS */

:root {
  --brightRed: hsl(12, 88%, 59%);
  --darkBlue: hsl(228, 39%, 23%);
  --darkGrayishBlue: hsl(227, 12%, 61%);
  --veryDarkBlue: hsl(233, 12%, 13%);
  --veryPaleRed: hsl(13, 100%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
}

/* TYPOGRAFY  */

body {
  font-family: "Be Vietnam Pro", sans-serif;
  color: var(--darkBlue);
  overflow-x: hidden;
}

p {
  color: var(--darkGrayishBlue);
}

/* BASE TWEAKS */

button {
  cursor: pointer;
}

section {
  max-width: 1350px;
  margin-inline: auto;
  padding-inline: 30px;
  padding-bottom: 200px;
}

@media screen and (max-width: 970px) {
  section {
    padding-bottom: 100px;
  }
}
